<mat-tab-group>
    <mat-tab label="Overview/API">
        <p>Decorators that uses Angular modules </p>
    </mat-tab>
    <mat-tab label="Examples">
        <div class="tab-content-viewer">
            <h2>Device State</h2>
            <h3>Observable</h3>
            <div *ngIf="deviceObs | async as device">
                <div *ngFor="let key of getKeys(device)">
                    {{key}} ==> {{device[key]}}
                </div>
            </div>


            <h3>Static</h3>
            <button mat-button (click)="showDevice()">Show Device</button>
            <div *ngFor="let key of getKeys(deviceStatic)">
                {{key}} ==> {{deviceStatic[key]}}
            </div>
        </div>
    </mat-tab>
</mat-tab-group>



