<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
    <h1>
        Welcome to {{ title }}!
    </h1>
</div>
<h2>Method Decorators</h2>

<button mat-button (click)="checkTimer()">Timer</button>
<button mat-button (click)="hackProtected()">Hack</button>
<button mat-button (click)="deprecatedFunction()">Deprecated</button>

<h2>Params Decorators</h2>
<button mat-button (click)="getSum()">Count two numbers</button>


<h2>Device State</h2>
<h3>Observable</h3>
<div *ngIf="deviceObs | async as device">
    <div *ngFor="let key of getKeys(device)">
        {{key}} ==> {{device[key]}}
    </div>
</div>


<h3>Static</h3>
<button mat-button (click)="showDevice()">Show Device</button>
<div *ngFor="let key of getKeys(deviceStatic)">
    {{key}} ==> {{deviceStatic[key]}}
</div>
