<mat-tab-group>
    <mat-tab label="Overview/API">
        <p>Generic decorators are good for JavaScript and TypeScript </p>
    </mat-tab>
    <mat-tab label="Examples">
        <button mat-flat-button color="accent"
                (click)="checkTimer()">Timer
        </button>
        <button mat-button color="primary"
                (click)="hackProtected()">Hack
        </button>
        <button mat-button (click)="deprecatedFunction()">Deprecated</button>
    </mat-tab>
</mat-tab-group>



