<h2>Device State</h2>
<div class="wrapper">
    <div class="part">
        <h3>Observable</h3>
        <div *ngIf="deviceObs | async as device">
            <div class="device-type" *ngFor="let key of getKeys(device)">
                {{key}} ==>
                <!--                {{device[key]}}-->
                <i class="material-icons" *ngIf="device[key]" style="color: green;">
                    check_circle_outline
                </i>
                <i class="material-icons" *ngIf="!device[key]" style="color: red;">
                    highlight_off
                </i>
            </div>
        </div>
    </div>
    <div class="part">
        <h3>Static  <button mat-button (click)="showDevice()">Update Device</button></h3>
        <div class="device-type" *ngFor="let key of getKeys(deviceStatic)">
            {{key}} ==>
            <i class="material-icons" *ngIf="deviceStatic[key]" style="color: green;">
                check_circle_outline
            </i>
            <i class="material-icons" *ngIf="!deviceStatic[key]" style="color: red;">
                highlight_off
            </i>

        </div>
    </div>
</div>
