.wrapper {
    display: flex;
    flex-direction: row;
}

.part {
    min-width: 400px;
}

.device-type {
    display: flex;
    line-height: 40px;
    font-size: 24px;
}
i.material-icons{
    font-size: 35px;
}
