@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
@import '~@angular/material/theming';
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

/* For use in src/lib/core/theming/_palette.scss */
$md-mcgpalette0: (
    50 : #e7efe4,
    100 : #c3d6bb,
    200 : #9cbb8e,
    300 : #749f61,
    400 : #568b3f,
    500 : #38761d,
    600 : #326e1a,
    700 : #2b6315,
    800 : #245911,
    900 : #17460a,
    A100 : #94ff7d,
    A200 : #6aff4a,
    A400 : #40ff17,
    A700 : #2dfc00,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$decor-prime: (
    50 : #e8eaf6,
    100 : #c5cae9,
    200 : #9fa8da,
    300 : #7986cb,
    400 : #5c6bc0,
    500 : #3f51b5,
    600 : #3949ab,
    700 : #303f9f,
    800 : #283593,
    900 : #1a237e,
    A100 : #8c9eff,
    A200 : #536dfe,
    A400 : #3d5afe,
    A700 : #304ffe,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #ffffff,
        A400 : #ffffff,
        A700 : #ffffff,
    )
);


@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$decors-primary: mat-palette($md-mcgpalette0);
$decors-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$decors-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$decors-theme: mat-light-theme($decors-primary, $decors-accent, $decors-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($decors-theme);


html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    padding-top: 52px;
}
