@import "../../../../styles";
:host {
    background: mat-color($decors-primary, 400);
    display: flex;
}

h1 {
    font-weight: 300;
    margin: 0;
    padding: 28px 8px;
    font-size: 20px;
    color: #fff;
}
